::selection {
    color: #fff;
    background-color: #000;
}
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    scroll-behavior: smooth;
}
.flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.flex-justify {
    display: inline-flex;
    justify-content: center;
}
.flex-align {
    display: inline-flex;
    align-items: center;
}
.the-position {
    position: absolute;
    top: 0;
    left: 0;
}
:root {
    --mainColor: #eee;
    --mainModalColor: #000000;
    --goldColor: #ffd700;
    --darkgoldColor:  #daa520;
}

body {
    /* min-height: 3000px */
}
body::-webkit-scrollbar {
    width: 7px
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}


.top-bar {
    width: 100%;
    height: 9.5%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ddd 60%, #fff);
    z-index: 5;
}
.background-choices-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    left: 1%;
    top: 8px;
}
.choices-icon {
    width: 30px;
    height: 6px;
    border-radius: 3px;
    border-style: none;
    background-color: #000; 
    position: absolute;
    right: 9px;
    bottom: 30px;
    transition: all 0.4s;
}
.choices-icon:hover::before,
.choices-icon:hover::after,
.choices-icon:hover {
    background-color: lightgreen;
}
.choices-icon::before {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -6.9px;
    right: 0;
    transition: all 0.4s;
}
.choices-icon::after {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -14px;
    right: 0;
    transition: all 0.4s;
}
.choices {
    width: 210px;
    height: 0px;
    position: absolute;
    top: 35px;
    left: -50%;
    background-color: transparent;
    transition: all 0.8s;
    display: none;
    direction: rtl;
}
.choices::before {
    content: "";
    width: 0;
    position: absolute;
    top: -38px;
    left: 7px;
    border: 25px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}
.choices ul li {
    display: block;
}
.choices ul li a{
    font-size: 25px; 
    font-weight: bold;
    margin: 15px 45px 0 0;
    color: #fff;
    display: block;
    text-transform: capitalize;
}
.background-choices-icon:hover > .choices-icon > .choices {
    display: inline-block;
    height: 275px;
    bottom: -203px;
    border-radius: 20px;
    background-color: gray;
    z-index: 4;
}
.first-list-item::after,
.second-list-item::after,
.third-list-item::after,
.fourth-list-item::after,
.fifth-list-item::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: lightgray;
    bottom: 224px;
    left: 0;
}
.second-list-item::after {
    bottom: 180px;
}
.third-list-item::after {
    bottom: 136px;
}
.fourth-list-item::after {
    bottom: 90px;
}
.fifth-list-item::after {
    bottom: 46px;
}
.first-list-item:hover,
.second-list-item:hover,
.third-list-item:hover,
.fourth-list-item:hover,
.fifth-list-item:hover,
.sixth-list-item:hover {
    color: lightgreen;
    transition: all 0.3s;
}
.profile-icon,
.communicate-icon,
.help-icon,
.about-icon,
.feedback-icon,
.logout-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 11px;
    right: 5px;
}
.communicate-icon {
    top: 57px;
}
.help-icon {
    top: 101px;
}
.about-icon {
    top: 147px;
}
.feedback-icon {
    top: 192px;
}
.logout-icon {
    top: 234px;
}
.for-profile-icon-hover:hover > .profile-icon,
.for-communicate-icon-hover:hover > .communicate-icon,
.for-help-icon-hover:hover > .help-icon,
.for-about-icon-hover:hover > .about-icon,
.for-feedback-icon-hover:hover > .feedback-icon,
.for-logout-icon-hover:hover > .logout-icon {
    color: lightgreen;
    transition: all 0.3s;
}

.sign-up-container-top-bar,
.product-container-top-bar,
.sell-container-top-bar,
.home-container-top-bar {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(128 128 128 / 25%) 10%, transparent);
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 71%;
    top: 15%;
    transition: all 0.5s;
}
.sign-up-container-top-bar:hover,
.product-container-top-bar:hover,
.sell-container-top-bar:hover,
.home-container-top-bar:hover {
    background-color: #00000025;
    box-shadow: 4px 4px 8px 5px #000;
    transform: translate(0, -5px); 
}
.sell,
.product,
.sign-up,
.home{
    color: #fff;
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
    text-shadow: 3.5px 1px 4px #000;
    transition: all 0.5s;
}
.sign-up:hover,
.product:hover,
.sell:hover,
.home:hover {
    text-shadow: 3.5px 1px 4px lightgreen;
}
.sign-up-icon-1:hover,
.sign-up-icon-2:hover,
.product-icon:hover,
.sell-icon:hover,
.home-icon:hover {
    color: lightgreen;
}
.sign-up-container-top-bar:hover > .sign-up-icon-1,
.sign-up-container-top-bar:hover > .sign-up-icon-2,
.product-container-top-bar:hover > .product-icon,
.sell-container-top-bar:hover > .sell-icon,
.home-container-top-bar:hover > .home-icon {
    font-size: 0;
}

.sign-up-container-top-bar {
    width: 11%;
    left: 5.5%;
}
.sign-up {
    font-size: 25px;
    left: 16px;
}
.sign-up-container-top-bar:hover > .sign-up {
    font-size: 32px;
}
.sign-up-icon-1,
.sign-up-icon-2 {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    /* top: 12px; */
    right: 12px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}
.sign-up-icon-2 {
    top: 24px;
    right: 7px;
    font-size: 17px;
    background-image: linear-gradient(to bottom, lightgray 64%, transparent);
    border-radius: 50%;
}
.product-container-top-bar {
    width: 8%;
    left: 17.5%;
}
.product {
    font-size: 25px;
    left: 14px;
}
.product-container-top-bar:hover > .product {
    font-size: 34px;
}
.product-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 4px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.sell-container-top-bar {
    width: 8%;
    left: 26.5%;
}
.sell {
    font-size: 25px;
    top: 8px;
    left: 14px;
}
.sell-container-top-bar:hover > .sell {
    font-size: 33px;
    top: 3px;
}
.sell-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.home-container-top-bar {
    width: 11%;
    left: 35.5%;
}
.home {
    font-size: 22px;
    left: 8px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.home-container-top-bar:hover > .home {
    font-size: 27px;
}
.home-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    top: 10px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}


.for-special-moving {
    margin-left: 83%;
}
.golden-bid-logo {
    position: relative;
    margin: -82px 0 0 16%;
}
.hummer-head {
    width: 17px;
    height: 25px;
    background-color: #d9a521;
    transform: rotate(35deg);
    margin: 10px 0 0 25px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-head::before {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: -2.5px;
    animation: inherit;
}
.hummer-head::after {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: -2.5px;
    animation: inherit;
}
.hummer-hand {
    width: 50px;
    height: 6px;
    background-color: #d9a521;
    border-radius: 0 10px 10px 0;
    transform: rotate(35deg);
    position: absolute;
    left: 30px;
    top: 21px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-hand::before {
    content: "winner";
    color: transparent;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    transition-delay: 0.3s;
}
.for-special-moving:hover > .golden-bid-logo > .hummer-hand::before {
    transform: rotate(-35deg) translate(23px, -8px);
    color: var(--darkgoldColor, lightblue);
    transition: all 0.5s 3.1s;
}
.hummer-floor {
    width: 35px;
    height: 12px;
    background-color: #d9a521;
    border-radius: 5px 5px 0 0 ;
    position: absolute;
    bottom: -23px;
    left: 16px;
    animation: gold 3s infinite alternate ease-in-out;
}
@keyframes gold{
    to {
        background-color: gold;
    }
}
.the-name {
    color: gold;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: -17px 0 0 -9px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    animation: background-color 3s infinite alternate ease-out;
}
@keyframes background-color {
    to {
        color: #d9a521;
    }
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-hand {
    transform-origin: center center;
    animation: moving-hand-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head {
    animation: moving-head-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-floor,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::after,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::before {
    animation-play-state: paused;
}
@keyframes moving-head-hummer {
    to {
        transform-origin: top right;
        transform: rotate(0deg) translateY(12px)
    }
}
@keyframes moving-hand-hummer {
    to {
        transform: rotate(0deg);
    }
}


.right-side-guide,
.left-side-guide {
    width: 16%;
    height: 64%;
    position: absolute;
    right: 2%;
    top: 16%;
    border: 2px solid green;
    background-color: #00000040;
    border-radius: 10px;
}
.left-side-guide {
    left: 2%
}
.right-side-guide-icon,
.left-side-guide-icon {
    font-family: 'Material Icons';
    font-size: 60px;
    font-style: normal;
    color: green;
    position: absolute;
    top: 4%;
}
.right-side-guide-main-label,
.right-side-guide-paragraph-1,
.right-side-guide-paragraph-2,
.right-side-guide-paragraph-3,
.left-side-guide-main-label,
.left-side-guide-paragraph-1,
.left-side-guide-paragraph-2,
.left-side-guide-paragraph-3 {
    width: 100%;
    height: 7%;
    position: absolute;
    top: 20%;
    left: 0;
    padding: 2px 16px;
    color: green;
    font-size: 25px;
    direction: rtl
}
.right-side-guide-paragraph-1,
.right-side-guide-paragraph-2,
.right-side-guide-paragraph-3 {
    height: 13%;
    top: 30%;
    font-size: 20px;
    color: #000;
}
.right-side-guide-paragraph-2 {
    height: 19%;
    top: 43%;
}
.right-side-guide-paragraph-3 {
    height: 22%;
    top: 61%;
}
.left-side-guide-paragraph-1,
.left-side-guide-paragraph-2,
.left-side-guide-paragraph-3 {
    height: 17%;
    top: 30%;
    font-size: 20px;
    color: #000;
}
.left-side-guide-paragraph-2 {
    height: 36%;
    top: 48%;
}
.left-side-guide-paragraph-3 {
    height: 19%;
    top: 80%;
}


.main-title-container {
    width: 100%;
    height: 10%;
    top: 25%;
    
}
.main-title-container::before {
    content: "";
    width: 30%;
    height: 1px;
    position: absolute;
    bottom: -50px;
    right: 35%;
    background-color: #000
}
.the-main-title {
    font-size: 75px;
    font-weight: bold;
    color: black;
    padding: 10px 0;
}

.category-container {
    width: 55%;
    height: 30%;
    top: 47%;
    left: 24%;
    z-index: 6;
    /* background-color: lightgray; */
}
.real-estate-main-container,
.electronic-main-container,
.fashion-main-container,
.cars-main-container {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #eeeeee6f;
    box-shadow: 5px 5px 5px 3px #000;
    border: 2px solid brown;
    border-radius: 50%;
    transition: all 0.4s;
}
.real-estate-main-container:hover,
.electronic-main-container:hover,
.fashion-main-container:hover,
.cars-main-container:hover {
    box-shadow: inset 0px 0px 5px 3px brown, 5px 5px 5px 3px #000;
}
.electronic-main-container {
    left: 25%;
}
.fashion-main-container {
    left: 50%
}
.cars-main-container {
    left: 75%
}
.real-estate-label,
.electronic-label,
.fashion-label,
.cars-label {
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.design-img {
    width: 76%;
    height: 94%;
    position: absolute;
    top: 82%;
    left: 12%;
}
#real-estate-selling-details:target,
#electronic-selling-details:target,
#fashion-selling-details:target,
#cars-selling-details:target {
    display: inline-block;
}
#real-estate-selling-details,
#electronic-selling-details,
#fashion-selling-details,
#cars-selling-details {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 42%;
    left: 0;
    background-color: transparent;
    z-index: 5;
}
.real-estate-design,
.electronic-design,
.fashion-design,
.cars-design {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 6%;
    left: 24%;
    /* background-color: lightgreen; */
    box-shadow: inset 0px 0px 10px 17px brown;
    border: 2px solid brown;
    border-radius: 50%;
    transition: all 0.4s;
}
.electronic-design {
    left: 37.8%;
}
.fashion-design {
    left: 51.5%;
}
.cars-design {
    left: 65.2%;
}
.real-estate-selling-details-container-for-background,
.electronic-selling-details-container-for-background,
.fashion-selling-details-container-for-background,
.cars-selling-details-container-for-background {
    width: 100%;
    height: 100%;
    top: 40%;
    background-color: var(--mainColor, lightblue);
    border-radius: 25% 25% 0 0;
}
.real-estate-selling-details-label-container,
.electronic-selling-details-label-container,
.fashion-selling-details-label-container,
.cars-selling-details-label-container {
    width: 100%;
    height: 10%;
    top: 6%;
}
.real-estate-selling-details-label-container::before,
.electronic-selling-details-label-container::before,
.fashion-selling-details-label-container::before,
.cars-selling-details-label-container::before {
    content: '';
    width: 70%;
    height: 2px;
    position: absolute;
    bottom: -21%;
    left: 15%;
    background-color: rosybrown;
}
.real-estate-selling-details-label,
.electronic-selling-details-label,
.fashion-selling-details-label,
.cars-selling-details-label {
    font-size: 85px;
    font-weight: bold;
    /* text-shadow: 3px 3px 5px rosybrown; */
    color: black;
}


.real-estate-product-title,
.electronic-product-title,
.fashion-product-title,
.cars-product-title {
    width: 40%;
    height: 47px;
    position: absolute;
    top: 24%;
    right: 5%;
    font-size: 24px;
    border-radius: 31px;
    padding: 5px 14px;
    background-color: var(--mainColor, lightblue);
    border: 2px solid lightseagreen;
    color: #757575;
    direction: rtl;
}
.real-estate-product-title:hover,
.electronic-product-title:hover,
.fashion-product-title:hover,
.cars-product-title:hover {
    background-color: #90ee904b;
}
.real-estate-secondary-section:hover,
.real-estate-type:hover,
.real-estate-building-year:hover,
.real-estate-rooms-num:hover,
.real-estate-land-size:hover,
.real-estate-building-size:hover,
.real-estate-bathrooms-num:hover,
.real-estate-floors-num:hover,
.real-estate-place:hover,
.real-estate-phone-num,
.electronic-secondary-section:hover,
.electronic-type:hover,
.electronic-color:hover,
.electronic-storage-capacity:hover,
.electronic-condition:hover,
.electronic-place:hover,
.fashion-secondary-section:hover,
.fashion-type:hover,
.fashion-color:hover,
.fashion-brand:hover,
.fashion-category:hover,
.fashion-size:hover,
.fashion-condition:hover,
.fashion-place:hover,
.cars-secondary-section:hover,
.cars-type:hover,
.cars-color:hover,
.cars-manufacture-year:hover,
.cars-engine-capacity:hover,
.cars-cylinder-num:hover,
.cars-horse-power:hover,
.cars-condition:hover,
.cars-place:hover {
    cursor: text;
    background-color: #90ee904b;
}
.real-estate-secondary-section:hover ~ .real-estate-secondary-section-arrow,
.real-estate-type:hover ~ .real-estate-type-arrow,
.real-estate-building-year:hover ~ .real-estate-building-year-arrow,
.real-estate-rooms-num:hover ~ .real-estate-rooms-num-arrow,
.real-estate-land-size:hover ~ .real-estate-land-size-arrow,
.real-estate-building-size:hover ~ .real-estate-building-size-arrow,
.real-estate-bathrooms-num:hover ~ .real-estate-bathrooms-num-arrow,
.real-estate-floors-num:hover ~ .real-estate-floors-num-arrow,
.real-estate-place:hover ~ .real-estate-place-arrow,
.electronic-secondary-section:hover ~ .electronic-secondary-section-arrow,
.electronic-type:hover ~ .electronic-type-arrow,
.electronic-color:hover ~ .electronic-color-arrow,
.electronic-storage-capacity:hover ~ .electronic-storage-capacity-arrow,
.electronic-condition:hover ~ .electronic-condition-arrow,
.electronic-place:hover ~ .electronic-place-arrow,
.fashion-secondary-section:hover ~ .fashion-secondary-section-arrow,
.fashion-type:hover ~ .fashion-type-arrow,
.fashion-color:hover ~ .fashion-color-arrow,
.fashion-brand:hover ~ .fashion-brand-arrow,
.fashion-category:hover ~ .fashion-category-arrow,
.fashion-size:hover ~ .fashion-size-arrow, 
.fashion-condition:hover ~ .fashion-condition-arrow,
.fashion-place:hover ~ .fashion-place-arrow,
.cars-secondary-section:hover ~ .cars-secondary-section-arrow,
.cars-type:hover ~ .cars-type-arrow,
.cars-color:hover ~ .cars-color-arrow,
.cars-manufacture-year:hover ~ .cars-manufacture-year-arrow,
.cars-engine-capacity:hover ~ .cars-engine-capacity-arrow,
.cars-cylinder-num:hover ~ .cars-cylinder-num-arrow,
.cars-horse-power:hover ~ .cars-horse-power-arrow,
.cars-condition:hover ~ .cars-condition-arrow,
.cars-place:hover ~ .cars-place-arrow {
    display: inline-block
}
.real-estate-secondary-section,
.real-estate-type,
.real-estate-building-year,
.real-estate-rooms-num,
.real-estate-land-size,
.electronic-secondary-section,
.electronic-type,
.electronic-color,
.electronic-storage-capacity,
.electronic-condition,
.fashion-secondary-section,
.fashion-type,
.fashion-color,
.fashion-brand,
.fashion-category,
.cars-secondary-section,
.cars-type,
.cars-color,
.cars-manufacture-year,
.cars-engine-capacity {
    direction: rtl;
    width: 19%;
    height: 7%;
    position: absolute;
    top: 34%;
    right: 5%;
    font-size: 24px;
    border-radius: 31px;
    padding: 5px 14px;
    background-color: var(--mainColor, lightblue);
    border: 2px solid lightseagreen;
    color: #757575;
    appearance: none;
}
.real-estate-secondary-section-arrow,
.real-estate-type-arrow,
.real-estate-building-year-arrow,
.real-estate-rooms-num-arrow,
.real-estate-land-size-arrow,
.electronic-secondary-section-arrow,
.electronic-type-arrow,
.electronic-color-arrow,
.electronic-storage-capacity-arrow,
.electronic-condition-arrow,
.fashion-secondary-section-arrow,
.fashion-type-arrow,
.fashion-color-arrow,
.fashion-brand-arrow,
.fashion-category-arrow,
.cars-secondary-section-arrow,
.cars-type-arrow,
.cars-color-arrow,
.cars-manufacture-year-arrow,
.cars-engine-capacity-arrow {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 36.5%;
    right: 21.9%;
    background-color: transparent;
    border: 2px;
    border-color: lightseagreen;
    border-style: none solid solid none;
    transform: rotate(45deg);
}

.real-estate-type,
.electronic-type,
.fashion-type,
.cars-type {
    top: 44%;
}
.real-estate-type-arrow,
.electronic-type-arrow,
.fashion-type-arrow,
.cars-type-arrow {
    top: 46.5%;
}

.real-estate-building-year,
.electronic-color,
.fashion-color,
.cars-color {
    top: 54%;
}
.real-estate-building-year-arrow,
.electronic-color-arrow,
.fashion-color-arrow,
.cars-color-arrow {
    top: 56.5%;
}

.real-estate-rooms-num,
.electronic-storage-capacity,
.fashion-brand,
.cars-manufacture-year{
    top: 64%;
}
.real-estate-rooms-num-arrow,
.electronic-storage-capacity-arrow,
.fashion-brand-arrow,
.cars-manufacture-year-arrow {
    top: 66.5%;
}

.real-estate-land-size,
.electronic-condition,
.fashion-category,
.cars-engine-capacity {
    top: 74%;
}
.real-estate-land-size-arrow,
.electronic-condition-arrow,
.fashion-category-arrow,
.cars-engine-capacity-arrow {
    top: 76.5%;
}
.real-estate-building-size,
.real-estate-bathrooms-num,
.real-estate-floors-num,
.real-estate-place,
.real-estate-phone-num,
.electronic-place,
.electronic-phone-num,
.fashion-size,
.fashion-condition,
.fashion-place, 
.fashion-phone-num,
.cars-cylinder-num,
.cars-horse-power,
.cars-condition,
.cars-place,
.cars-phone-num {
    direction: rtl;
    width: 19%;
    height: 7%;
    position: absolute;
    top: 34%;
    right: 26%;
    font-size: 24px;
    border-radius: 31px;
    padding: 5px 14px;
    background-color: var(--mainColor, lightblue);
    border: 2px solid lightseagreen;
    color: #757575;
    appearance: none; 
}
.real-estate-building-size-arrow,
.real-estate-bathrooms-num-arrow,
.real-estate-floors-num-arrow,
.real-estate-place-arrow,
.electronic-place-arrow,
.electronic-phone-num-arrow,
.fashion-size-arrow,
.fashion-condition-arrow,
.fashion-place-arrow, 
.fashion-phone-num-arrow,
.cars-cylinder-num-arrow,
.cars-horse-power-arrow,
.cars-condition-arrow,
.cars-place-arrow,
.cars-phone-num-arrow {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 36.5%;
    right: 42.9%;
    background-color: transparent;
    border: 2px;
    border-color: lightseagreen;
    border-style: none solid solid none;
    transform: rotate(45deg);
}
.real-estate-bathrooms-num,
.electronic-phone-num,
.fashion-condition,
.cars-horse-power {
    top: 44%;
}
.electronic-phone-num,
.fashion-phone-num {
        border: 2px solid orange;
}
.real-estate-bathrooms-num-arrow,
.fashion-condition-arrow,
.cars-horse-power-arrow {
    top: 46.5%;
}

.real-estate-floors-num,
.fashion-place,
.cars-condition {
    top: 54%;
}
.real-estate-floors-num-arrow,
.fashion-place-arrow,
.cars-condition-arrow {
    top: 56.5%;
}

.real-estate-place,
.fashion-phone-num,
.cars-place {
    top: 64%;
}
.real-estate-place-arrow,
.cars-place-arrow {
    top: 66.5%;
}

.real-estate-phone-num,
.cars-phone-num {
    top: 74%;
    border: 2px solid orange;
}

.real-estate-min-bidding-value,
.real-estate-ending-bidding-time,
.real-estate-ending-bidding-date,
.electronic-min-bidding-value,
.electronic-ending-bidding-time,
.electronic-ending-bidding-date,
.fashion-min-bidding-value,
.fashion-ending-bidding-time,
.fashion-ending-bidding-date,
.cars-min-bidding-value,
.cars-ending-bidding-time,
.cars-ending-bidding-date {
    direction: rtl;
    width: 19%;
    height: 7%;
    position: absolute;
    top: 34%;
    right: 47%;
    font-size: 24px;
    border-radius: 31px;
    padding: 5px 14px;
    background-color: var(--mainColor, lightblue);
    border: 2px solid orange;
    color: #000;
    appearance: none; 
    
}
.real-estate-ending-bidding-time,
.electronic-ending-bidding-time,
.fashion-ending-bidding-time,
.cars-ending-bidding-time {
    top: 54%;
}
.real-estate-ending-bidding-date,
.electronic-ending-bidding-date,
.fashion-ending-bidding-date,
.cars-ending-bidding-date {
    top: 74%;
}
.real-estate-min-bidding-value:hover,
.real-estate-ending-bidding-time:hover,
.real-estate-ending-bidding-date:hover,
.real-estate-phone-num:hover,
.electronic-min-bidding-value:hover,
.electronic-ending-bidding-time:hover,
.electronic-ending-bidding-date:hover,
.electronic-phone-num:hover,
.fashion-min-bidding-value:hover,
.fashion-ending-bidding-time:hover,
.fashion-ending-bidding-date:hover,
.fashion-phone-num:hover,
.cars-min-bidding-value:hover,
.cars-ending-bidding-time:hover,
.cars-ending-bidding-date:hover,
.cars-phone-num:hover{
    /* background-color: #90ee904b; */
    background-color: #ffa60046;
}
.real-estate-ending-bidding-time-label,
.real-estate-ending-bidding-date-label,
.electronic-ending-bidding-time-label,
.electronic-ending-bidding-date-label,
.fashion-ending-bidding-time-label,
.fashion-ending-bidding-date-label,
.cars-ending-bidding-time-label,
.cars-ending-bidding-date-label {
    font-size: 33px;
    color: #757575;
    position: absolute;
    top: 45%;
    right: 48%;
    direction: rtl;
}
.real-estate-ending-bidding-date-label,
.electronic-ending-bidding-date-label,
.fashion-ending-bidding-date-label,
.cars-ending-bidding-date-label {
    top: 65%;
}

.real-estate-first-upload-Btn,
.real-estate-second-upload-Btn,
.real-estate-third-upload-Btn,
.real-estate-fourth-upload-Btn,
.real-estate-fifth-upload-Btn,
.electronic-first-upload-Btn,
.electronic-second-upload-Btn,
.electronic-third-upload-Btn,
.electronic-fourth-upload-Btn,
.electronic-fifth-upload-Btn,
.fashion-first-upload-Btn,
.fashion-second-upload-Btn,
.fashion-third-upload-Btn,
.fashion-fourth-upload-Btn,
.fashion-fifth-upload-Btn,
.cars-first-upload-Btn,
.cars-second-upload-Btn,
.cars-third-upload-Btn,
.cars-fourth-upload-Btn,
.cars-fifth-upload-Btn {
    height: 5.5%;
    width: 9%;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 13.3%;
    background-color: #DDD;
    border: 1px dashed #BBB;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.real-estate-second-upload-Btn,
.electronic-second-upload-Btn,
.fashion-second-upload-Btn,
.cars-second-upload-Btn {
    top: 62%;
    left: 3.3%;
}
.real-estate-third-upload-Btn,
.electronic-third-upload-Btn,
.fashion-third-upload-Btn,
.cars-third-upload-Btn {
    top: 62%;
    left: 23.3%;
    
}
.real-estate-fourth-upload-Btn,
.electronic-fourth-upload-Btn,
.fashion-fourth-upload-Btn,
.cars-fourth-upload-Btn {
    top: 92%;
    left: 7.3%;
    
}
.real-estate-fifth-upload-Btn,
.electronic-fifth-upload-Btn,
.fashion-fifth-upload-Btn,
.cars-fifth-upload-Btn {
    top: 92%;
    left: 19.3%;

}
.input-hiding-container {
    width:0px; 
    height: 0px;
    overflow:hidden;
}
#real-estate-first-image-displaying-container,
#real-estate-second-image-displaying-container,
#real-estate-third-image-displaying-container,
#real-estate-fourth-image-displaying-container,
#real-estate-fifth-image-displaying-container,
#electronic-first-image-displaying-container,
#electronic-second-image-displaying-container,
#electronic-third-image-displaying-container,
#electronic-fourth-image-displaying-container,
#electronic-fifth-image-displaying-container,
#fashion-first-image-displaying-container,
#fashion-second-image-displaying-container,
#fashion-third-image-displaying-container,
#fashion-fourth-image-displaying-container,
#fashion-fifth-image-displaying-container,
#cars-first-image-displaying-container,
#cars-second-image-displaying-container,
#cars-third-image-displaying-container,
#cars-fourth-image-displaying-container,
#cars-fifth-image-displaying-container {
    width: 145px;
    height: 145px;
    position: absolute;
    top: 29%;
    left: 13%;
    border-radius: 16px;
    background-color: #ddd;
    /* z-index: 5; */
    background-position: center;
    background-size: cover;
} 
#real-estate-second-image-displaying-container,
#electronic-second-image-displaying-container,
#fashion-second-image-displaying-container,
#cars-second-image-displaying-container {
    top: 41%;
    left: 3%;
}
#real-estate-third-image-displaying-container,
#electronic-third-image-displaying-container,
#fashion-third-image-displaying-container,
#cars-third-image-displaying-container {
    top: 41%;
    left: 23%;
    
}
#real-estate-fourth-image-displaying-container,
#electronic-fourth-image-displaying-container,
#fashion-fourth-image-displaying-container,
#cars-fourth-image-displaying-container {
    top: 71%;
    left: 7%;
    
}
#real-estate-fifth-image-displaying-container,
#electronic-fifth-image-displaying-container,
#fashion-fifth-image-displaying-container,
#cars-fifth-image-displaying-container {
    top: 71%;
    left: 19%;

}

.real-estate-free-field,
.electronic-free-field,
.fashion-free-field,
.cars-free-field {
    width: 60%;
    height: 108px;
    font-size: 18px;
    color: #000;
    position: absolute;
    top: 84.5%;
    right: 5.4%;
    padding: 12px 20px;
    border: 2px solid lightseagreen;
    border-radius: 22px;
    background-color: #eee;
    resize: none;
    direction: rtl;
}
.real-estate-free-field::-webkit-scrollbar,
.electronic-free-field::-webkit-scrollbar,
.fashion-free-field::-webkit-scrollbar,
.cars-free-field::-webkit-scrollbar {
    width: 4px
}
.real-estate-free-field::-webkit-scrollbar-thumb,
.electronic-free-field::-webkit-scrollbar-thumb,
.fashion-free-field::-webkit-scrollbar-thumb,
.cars-free-field::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}
.real-estate-free-field::-webkit-scrollbar-track,
.electronic-free-field::-webkit-scrollbar-track,
.fashion-free-field::-webkit-scrollbar-track,
.cars-free-field::-webkit-scrollbar-track {
    background-color: transparent;
}
.real-estate-submit-background,
.electronic-submit-background,
.fashion-submit-background,
.cars-submit-background {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    /* z-index: 9; */
}
.real-estate-main-submit-btn,
.electronic-main-submit-btn,
.fashion-main-submit-btn,
.cars-main-submit-btn {
    direction: rtl;
    width: 20%;
    height: 8%;
    position: absolute;
    top: 106%;
    right: 40%;
    font-size: 30px;
    border-radius: 31px;
    background-color: #fff;
    border: 3px solid #000;
    color: #000;
    transition: all 0.2s;
    cursor: pointer;
}
.real-estate-main-submit-btn:hover,
.electronic-main-submit-btn:hover,
.fashion-main-submit-btn:hover,
.cars-main-submit-btn:hover {
    background-color: lightgreen;
    /* border: 3px solid lightgreen; */
    /* color: lightgreen; */
}



footer {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 202%;
    left: 0;
    background-color: #0e2332;
    scroll-behavior: smooth;
}
.upper-part {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0
}
.first-line-of-elements,
.second-line-of-elements {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 0;
}
.second-line-of-elements {
    top: 59%;
    font-size: 25px;
    color: #eee9;
}
.contact-us,
.about-us,
.guide-and-advice,
.shop-btn-container {
    width: 16%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 14%;
    background-color: transparent;
    border: none;
    font-size: 27px;
    color: #eee9;
    cursor: pointer;
    transition: all 0.4s;
}
.contact-us::before,
.about-us::before,
.guide-and-advice::before {
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #eee9;
}
.about-us {
    right: 31%;
}
.guide-and-advice {
    width: 20%;
    right: 48%;
}
.shop-btn-container {
    right: 68%;
}
.contact-us:hover,
.about-us:hover,
.guide-and-advice:hover,
.shop-btn-container:hover {
    color: gold
}
.contact-us-icon,
.about-us-icon,
.guide-and-advice-icon,
.shop-btn-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 32px;
    color: #eee9;
    position: absolute;
    right: 5%;
    transition: all 0.4s;
}
.about-us-icon {
    right: 25%
}
.guide-and-advice-icon {
    right: 15%
}
.shop-btn-icon {
    right: 24%
}
.contact-us:hover > .contact-us-icon,
.about-us:hover > .about-us-icon,
.guide-and-advice:hover > .guide-and-advice-icon,
.shop-btn-container:hover > .shop-btn-icon {
    color: gold
}
.contact-us-label,
.about-us-label,
.guide-and-advice-label,
.shop-btn-label {
    position: absolute;
    right: 25%
}
.about-us-label {
    right: 44%
}
.guide-and-advice-label {
    right: 30%
}
.shop-btn-label {
    right: 44%
}
.lower-part {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0
}
.lower-part::before {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    top: -10px;
    left: 30%;
    background-color: #eee9;
}
.golden-bid-logo-2 {
    position: relative;
    margin: -75px 0 0 45%
}
.for-special-moving:hover > .golden-bid-logo-2 > .hummer-hand::before {
    transform: rotate(-35deg) translate(23px, -8px);
    color: var(--darkgoldColor, lightblue);
    transition: all 0.5s 3.1s;
}
.the-name-2 {
    color: gold;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    padding: 5px;
    width: 100%;
    height: 100%;
    /* width: fit-content; */
    margin: -17px 0 0 41.5%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    animation: background-color 3s infinite alternate ease-out;
}
@keyframes background-color {
    to {
        color: #d9a521;
    }
}
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-hand {
    transform-origin: center center;
    animation: moving-hand-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head {
    animation: moving-head-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name-2,
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-floor,
/* .for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-hand, */
/* .for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head, */
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head::after,
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head::before {
    animation-play-state: paused;
}
.icons-container,
.year-date-container {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 40%;
    left: 0;
}
.year-date-container {
    top: 67%;
}
.icons-container::before {
    content: "";
    width: 8%;
    height: 1px;
    position: absolute;
    bottom: -17px;
    left: 46%;
    background-color: #eee9;
}
.lower-part-first-icon,
.lower-part-second-icon,
.lower-part-third-icon,
.lower-part-fourth-icon,
.lower-part-fifth-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 29px;
    color: #eee9;
    position: absolute;
    right: 54%;
}
.lower-part-second-icon {
    right: 51.5%;
}
.lower-part-third-icon {
    right: 49%;
}
.lower-part-fourth-icon {
    right: 41%;
}
.lower-part-fifth-icon {
    right: 44.5%;
}
.lower-part-R,
.lower-part-year-date {
    font-size: 18px;
    color: #eee9;
    position: absolute;
    right: 51%
}
.lower-part-year-date {
    font-size: 20px;
    right: 48%   
}

#contact-us-modal,
#about-us-modal,
#guide-and-advice-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 999;
}
.contact-us-container,
.about-us-container,
.guide-and-advice-container {
    width: 33%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 33%;
    background-color: #eee;
    border-radius: 30px;
}
.about-us-container,
.guide-and-advice-container {
    width: 65%;
    left: 17.5%;
}
.contact-us-close,
.about-us-close,
.guide-and-advice-close {
    font-size: 40px;
    color: #000;
    position: absolute; 
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: all 0.2s
}
.contact-us-close:hover,
.about-us-close:hover,
.guide-and-advice-close:hover {
    color: red
}
.contact-us-head,
.about-us-head,
.guide-and-advice-head {
    width: 100%;
    height: 10%;
    font-size: 30px;
    color: #000;
    border-radius: 20px 20px 0 0;
    background-color: #aaa
}
.about-us-main-icon-1,
.about-us-main-icon-2,
.guide-and-advice-main-icon-1,
.guide-and-advice-main-icon-2 {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color: green;
    position: absolute;
    right: 37%;
}
.about-us-main-icon-2,
.guide-and-advice-main-icon-2 {
    right: 60%
}
.about-us-main-icon-1,
.about-us-main-icon-2 {
    color: #000
}
.contact-us-body,
.about-us-body,
.guide-and-advice-body {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 0;
    direction: rtl;
}
.contact-us-img {
    width: 45%;
    position: absolute;
    top: 0;
    left: 27.5%;
}
.contact-us-form {
    width: 100%;
    height: 100%;
}
.contact-us-email-field,
.contact-us-massage-field {
    width: 70%;
    height: 47px;
    position: absolute;
    top: 48%;
    font-size: 22px;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px 20px 5px 0;
}
.contact-us-massage-field {
    top: 60%;
    height: 90px;
    border-radius: 25px;
    padding: 10px 15px;
    resize: none;
}
.contact-us-massage-field::-webkit-scrollbar {
    width: 5px
}
.contact-us-massage-field::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
.contact-us-massage-field::-webkit-scrollbar-track {
    background-color: transparent
}
.contact-us-submit-btn {
    width: 25%;
    height: 47px;
    position: absolute;
    top: 83%;
    font-size: 26px;
    color: brown;
    border: 2px solid #000;
    border-radius: 20px;
}
.about-us-body-first-section,
.about-us-body-second-section {
    width: 100%;
    height: 36%;
    position: absolute;
    top: 0;
    left: 0;
}
.about-us-body-second-section {
    top: 40%
}
.about-us-body-first-section-title,
.about-us-body-second-section-title {
    font-size: 30px;
    color: brown;
    padding: 13px 35px;
}
.about-us-body-first-section-label-1,
.about-us-body-first-section-label-2,
.about-us-body-second-section-label-1,
.about-us-body-second-section-label-2,
.about-us-body-second-section-label-3 {
    font-size: 21px;
    position: absolute;
    color: #000;
    padding: 0px 35px;
}
.about-us-body-first-section-label-2,
.about-us-body-second-section-label-2 {
    top: 113px
}
.about-us-body-second-section-label-3 {
    top: 167px
}

.guide-and-advice-body-first-section,
.guide-and-advice-body-second-section,
.guide-and-advice-body-third-section {
    width: 100%;
    height: 36%;
    position: absolute;
    top: 0;
    left: 0;
}
.guide-and-advice-body-second-section {
    top: 36%;
}
.guide-and-advice-body-third-section {
    top: 75%;
}
.guide-and-advice-body-first-section-title,
.guide-and-advice-body-second-section-title,
.guide-and-advice-body-third-section-title {
    font-size: 22px;
    position: absolute;
    top: 10px;
    padding: 7px 16px;
    border-radius: 12px;
    background-color: lightgreen;
}
.guide-and-advice-body-first-section-paragraph-1,
.guide-and-advice-body-first-section-paragraph-2,
.guide-and-advice-body-first-section-paragraph-3 {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 42px;
    font-size: 18px;
    padding: 5px 34px;
}
.guide-and-advice-body-first-section-paragraph-2 {
    top: 92px;
}
.guide-and-advice-body-first-section-paragraph-3 {
    top: 123px;
}
.guide-and-advice-body-second-section-paragraph-1,
.guide-and-advice-body-second-section-paragraph-2,
.guide-and-advice-body-second-section-paragraph-3,
.guide-and-advice-body-third-section-paragraph-1 {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 42px;
    font-size: 18px;
    padding: 5px 34px;
}
.guide-and-advice-body-second-section-paragraph-2 {
    top: 75px;
}
.guide-and-advice-body-second-section-paragraph-3 {
    top: 127px;
}