::selection {
    color: #fff;
    background-color: #000;
}
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.flex-justify {
    display: inline-flex;
    justify-content: center;
}
.flex-align {
    display: inline-flex;
    align-items: center;
}
.the-position {
    position: absolute;
    top: 0;
    left: 0
}
:root {
    --mainColor: #eee;
    --mainModalColor: #000000;
    --goldColor: #ffd700;
    --darkgoldColor:  #daa520;
}

body {
    min-height: 1000px
}
body::-webkit-scrollbar {
    width: 7px
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}


.top-bar {
    width: 100%;
    height: 9.5%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ddd 60%, #fff);
    z-index: 99;
}
.background-choices-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    left: 1%;
    top: 8px;
}
.choices-icon {
    width: 30px;
    height: 6px;
    border-radius: 3px;
    border-style: none;
    background-color: #000; 
    position: absolute;
    right: 9px;
    bottom: 30px;
    /* margin: -3px -74.5% 0 0; */
    transition: all 0.4s;
}
.choices-icon:hover::before,
.choices-icon:hover::after,
.choices-icon:hover {
    background-color: lightgreen;
}
.choices-icon::before {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -6.9px;
    right: 0;
    transition: all 0.4s;
}
.choices-icon::after {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -14px;
    right: 0;
    transition: all 0.4s;
}
.choices {
    width: 210px;
    height: 0px;
    position: absolute;
    top: 35px;
    left: -50%;
    background-color: transparent;
    transition: all 0.8s;
    display: none;
    direction: rtl;
}
.choices::before {
    content: "";
    width: 0;
    position: absolute;
    top: -38px;
    left: 7px;
    border: 25px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}
.choices ul li {
    display: block;
}
.choices ul li a{
    font-size: 25px; 
    font-weight: bold;
    margin: 15px 45px 0 0;
    color: #fff;
    display: block;
    text-transform: capitalize;
}
.background-choices-icon:hover > .choices-icon > .choices {
    display: inline-block;
    height: 275px;
    bottom: -203px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 1);
    z-index: 4;
}

.first-list-item::after,
.second-list-item::after,
.third-list-item::after,
.fourth-list-item::after,
.fifth-list-item::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: lightgray;
    bottom: 224px;
    left: 0;
}
.second-list-item::after {
    bottom: 180px;
}
.third-list-item::after {
    bottom: 136px;
}
.fourth-list-item::after {
    bottom: 90px;
}
.fifth-list-item::after {
    bottom: 46px;
}
.first-list-item:hover,
.second-list-item:hover,
.third-list-item:hover,
.fourth-list-item:hover,
.fifth-list-item:hover,
.sixth-list-item:hover {
    color: lightgreen;
    transition: all 0.3s;
}
.profile-icon,
.communicate-icon,
.help-icon,
.about-icon,
.feedback-icon,
.logout-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 11px;
    right: 5px;
}
.communicate-icon {
    top: 57px;
}
.help-icon {
    top: 101px;
}
.about-icon {
    top: 147px;
}
.feedback-icon {
    top: 192px;
}
.logout-icon {
    top: 234px;
}
.for-profile-icon-hover:hover > .profile-icon,
.for-communicate-icon-hover:hover > .communicate-icon,
.for-help-icon-hover:hover > .help-icon,
.for-about-icon-hover:hover > .about-icon,
.for-feedback-icon-hover:hover > .feedback-icon,
.for-logout-icon-hover:hover > .logout-icon {
    color: lightgreen;
    transition: all 0.3s;
}

.sign-up-container-top-bar,
.product-container-top-bar,
.sell-container-top-bar,
.home-container-top-bar {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(128 128 128 / 25%) 10%, transparent);
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 71%;
    top: 15%;
    transition: all 0.5s;
}
.sign-up-container-top-bar:hover,
.product-container-top-bar:hover,
.sell-container-top-bar:hover,
.home-container-top-bar:hover {
    background-color: #00000025;
    box-shadow: 4px 4px 8px 5px #000;
    transform: translate(0, -5px); 
}
.sell,
.product,
.sign-up,
.home{
    color: #fff;
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
    text-shadow: 3.5px 1px 4px #000;
    transition: all 0.5s;
}
.sign-up:hover,
.product:hover,
.sell:hover,
.home:hover {
    text-shadow: 3.5px 1px 4px lightgreen;
}
.sign-up-icon-1:hover,
.sign-up-icon-2:hover,
.product-icon:hover,
.sell-icon:hover,
.home-icon:hover {
    color: lightgreen;
}
.sign-up-container-top-bar:hover > .sign-up-icon-1,
.sign-up-container-top-bar:hover > .sign-up-icon-2,
.product-container-top-bar:hover > .product-icon,
.sell-container-top-bar:hover > .sell-icon,
.home-container-top-bar:hover > .home-icon {
    font-size: 0;
}

.sign-up-container-top-bar {
    width: 11%;
    left: 5.5%;
}
.sign-up {
    font-size: 25px;
    left: 16px;
}
.sign-up-container-top-bar:hover > .sign-up {
    font-size: 32px;
}
.sign-up-icon-1,
.sign-up-icon-2 {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    /* top: 12px; */
    right: 12px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}
.sign-up-icon-2 {
    top: 24px;
    right: 7px;
    font-size: 17px;
    background-image: linear-gradient(to bottom, lightgray 64%, transparent);
    border-radius: 50%;
}

.product-container-top-bar {
    width: 8%;
    left: 17.5%;
}
.product {
    font-size: 25px;
    left: 14px;
}
.product-container-top-bar:hover > .product {
    font-size: 34px;
}
.product-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 4px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.sell-container-top-bar {
    width: 8%;
    left: 26.5%;
}
.sell {
    font-size: 25px;
    top: 8px;
    left: 14px;
}
.sell-container-top-bar:hover > .sell {
    font-size: 33px;
    top: 3px;
}
.sell-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.home-container-top-bar {
    width: 11%;
    left: 35.5%;
}
.home {
    font-size: 22px;
    left: 8px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.home-container-top-bar:hover > .home {
    font-size: 27px;
}
.home-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    top: 10px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}


.for-special-moving {
    margin-left: 83%;
}
.golden-bid-logo {
    position: relative;
    margin: -82px 0 0 16%;
}
.hummer-head {
    width: 17px;
    height: 25px;
    background-color: #d9a521;
    transform: rotate(35deg);
    margin: 10px 0 0 25px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-head::before {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: -2.5px;
    animation: inherit;
}
.hummer-head::after {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: -2.5px;
    animation: inherit;
}
.hummer-hand {
    width: 50px;
    height: 6px;
    background-color: #d9a521;
    border-radius: 0 10px 10px 0;
    transform: rotate(35deg);
    position: absolute;
    left: 30px;
    top: 21px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-hand::before {
    content: "winner";
    color: transparent;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    transition-delay: 0.3s;
}
.for-special-moving:hover > .golden-bid-logo > .hummer-hand::before {
    transform: rotate(-35deg) translate(23px, -8px);
    color: var(--darkgoldColor, lightblue);
    transition: all 0.5s 3.1s;
}
.hummer-floor {
    width: 35px;
    height: 12px;
    background-color: #d9a521;
    border-radius: 5px 5px 0 0 ;
    position: absolute;
    bottom: -23px;
    left: 16px;
    animation: gold 3s infinite alternate ease-in-out;
}
@keyframes gold{
    to {
        background-color: gold;
    }
}
.the-name {
    color: gold;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: -17px 0 0 -9px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    animation: background-color 3s infinite alternate ease-out;
}
@keyframes background-color {
    to {
        color: #d9a521;
    }
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-hand {
    transform-origin: center center;
    animation: moving-hand-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head {
    animation: moving-head-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-floor,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::after,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::before {
    animation-play-state: paused;
}
@keyframes moving-head-hummer {
    to {
        transform-origin: top right;
        transform: rotate(0deg) translateY(12px)
    }
}
@keyframes moving-hand-hummer {
    to {
        transform: rotate(0deg);
    }
}

.main-profile-pic-and-name-container {
    width: 26%;
    height: 80%;
    position: fixed;
    top: 12%;
    right: 3%;
    background-color: var(--mainColor, lightblue);
    border-radius: 30px;
}
.main-profile-pic {
    width: 100%;
    height: 70%;
    border-radius: 50%;
}
#profile-image-displaying-container {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 9;
    border-radius: 50%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
}
.main-name {
    width: 100%;
    height: 10%;
    top: 71%;
    font-size: 35px;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    direction: rtl;
}
.integrity-container {
    width: 100%;
    height: 14%;
    top: 85%;
    font-size: 30px;
    color: lightgrey;
    border-radius: 20px;
}
.integrity-label {
    font-size: 25px;
    color: brown
}
.the-integrity {
    position: absolute;
    top: 50%;
    color: black;
}

.the-main-three-btn-container {
    width: 69%;
    height: 15%;
    position: fixed;
    top: 9.5%;
    left: 1.5%;
    z-index: 8;
    background-image: linear-gradient(to bottom, #fff 70% , transparent);
}

.my-info-btn,
.my-products-btn,
.my-auctions-btn {
    font-size: 29px;
    color: #000;
    position: absolute;
    right: 13%;
    background-color: lightsteelblue;
    padding: 7px 56px;
    border-radius: 20px;
    border: 2px solid black;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s
}
.my-products-btn {
    right: 39%
}
.my-auctions-btn {
    right: 63%
}
.my-info-btn:hover,
.my-products-btn:hover,
.my-auctions-btn:hover {
    background-color: #fff;
    border: 2px solid #00000099;
    color: #00000099;
}

#my-product,
#my-auction {
    display: none;
    width: 67%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30%;
    background-color: transparent;
}
#my-product:target,
#my-auction:target {
    display: inline-block;
}
#my-info {
    width: 61%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30%;
    background-color: transparent;
}
.my-whole-info-container,
.my-whole-product-container,
.my-whole-auction-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22%;
    left: 0;
    background-color: #fff;
}
.my-whole-product-container,
.my-whole-auction-container {
    height: 120%;
}
.my-info-right-side-container,
.my-info-middle-side-container,
.my-info-left-side-container {
    width: 33%;
    height: 100%;
    position: absolute;
    top: 5%;
    right: 5%;
    /* background-color: #ccc; */
}
.my-info-middle-side-container {
    right: 41%;
}
.my-info-left-side-container {
    right: 77%;
}

/* right table */
.first-name-container,
.second-name-container,
.user-name-container,
.email-container,
.old-password-container,
.new-password-container,
.re-new-password-container,
/* middle table */
.date-container,
.city-container,
.address-container,
.phone-num-container,
.profile-pic-container,
/* left table */
.card-name-container,
.card-num-container,
.card-password-container {
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
}
.second-name-container,
.city-container,
.card-num-container {
    top: 17%;
}
.user-name-container,
.address-container,
.card-password-container {
    top: 34%;
}
.email-container,
.phone-num-container {
    top: 51%;
}
.old-password-container,
.profile-pic-container {
    top: 68%;
}
.new-password-container {
    top: 77%;
}
.re-new-password-container {
    top: 86%;
}

.input-hiding-container {
    width:0px; 
    height: 0px;
    overflow:hidden;
}
/* right table */
.first-name-label,
.second-name-label,
.user-name-label,
.email-label,
.old-password-label,
.new-password-label,
.re-new-password-label,
/* middle table */
.date-label,
.city-label,
.address-label,
.phone-num-label,
.profile-pic-label,
/* left table */
.card-name-label,
.card-num-label,
.card-password-label {
    width: 100%;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 0;
    background-color: beige;
    border-radius: 24px;
}
/* right table */
.first-name-changing-field,
.second-name-changing-field,
.user-name-changing-field,
.email-changing-field,
.old-password-changing-field,
.new-password-changing-field,
.re-new-password-changing-field,
/* middle table */
.date-changing-field,
.city-changing-field,
.address-changing-field,
.phone-num-changing-field,
.profile-pic-changing-field,
/* left table */
.card-name-changing-field,
.card-num-changing-field,
.card-password-changing-field {
    direction: rtl;
    width: 100%;
    height: 47px;
    border-radius: 20px;
    border: 2px solid brown;
    position: absolute;
    top: 43%;
    font-size: 20px;
    padding: 1px 14px;
}

.main-submit-btn {
    width: 26%;
    height: 9%;
    position: absolute;
    top: 105%;
    right: 44%;
    font-size: 29px;
    color: #000;
    background-color: lightsteelblue;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    border: 2px solid #000;
}
.main-submit-btn:hover {
    background-color: lightgreen;
    /* background-color: #b0c4de7a; */
    /* color: green;
    border: 2px solid lightgreen */
}

.products-table {
    margin: 1% 0% 0 3%;
}
.my-whole-product-container table,
.my-whole-auction-container table {
    width: 92%;
    direction: rtl;
    color: #fff;
    position: relative;
    /* top: 175px; */
    border-spacing: 10px;
}
.product-1,
.product-2,
.product-3,
.product-4,
.product-5 {
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 15px;
    background-color: var(--mainColor, lightblue);
    margin-top: 10px;
    left: 5%;
    border: 2px solid gray;
    transition: all 0.3s;
}
.product-1:hover,
.product-2:hover,
.product-3:hover,
.product-4:hover,
.product-5:hover {
    box-shadow: 1px 1px 5px 1px #000;
}

.product-inner-table-img {
    width: 20% !important;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}
.inner-table-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 10px;
    /* border: 1px solid gray; */
}


.product-name-and-info {
    width: 56% !important;
    position: absolute !important;
    top: -2% !important;
    right: 23%;
    border-spacing: 7px !important;
}
.product-main-name {
    font-size: 42px;
    color: black;
    padding: 5px;
}
.other-product-info {
    font-size: 20px;
    color: black;
    background-color: #fff;
    text-align: center;
    padding: 3px 5px;
    border-radius: 20px;
}
.other-product-info:hover {
    background-color: #ccc;
    transition: all 0.4s;
}
.other-product-info-bidding-time,
.other-product-info-label-bidding-time {
    font-size: 25px;
    color: black;
    text-align: center;
}
.other-product-info-bidding-min-price,
.other-product-info-label-bidding-min-price {
    font-size: 25px;
    color: black;
    text-align: center;
    background-color: lightyellow;
    padding: 5px;
    border-radius: 0 15px 15px 0;
}
.other-product-info-bidding-min-price {
    border-radius: 15px 0 0 15px;
}
.left-side-of-the-product {
    width: 22%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* border-radius: 20px 0 0 20px; */
    /* background-color: #ccc; */
}
.left-side-of-the-product-header {
    width: 20%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: aliceblue; */
    /* cursor: copy; */
}
.seller-profile-pic {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    border: 1px solid #000;
}
.seller-name {
    position: absolute;
    top: 23px;
    left: 63px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.left-side-of-the-product-bottom {
    width: 19%;
    height: 50px;
    position: absolute;
    bottom: 6%;
    left: 2%;
    font-size: 34px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    transform-origin: center center;
    animation: moving-design-button 0.5s infinite alternate ease-in-out;
}
@keyframes moving-design-button {
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}



.my-whole-auction-container table {
    width: 90%;
    top: 20px;
    left: 59px;
    border-spacing: 5px;
}
.auction-table-label-row {
    width: 100%;
    height: 70px;
    background-color: #aaa;
}
/* first row */
.auction-table-img-container-label,
.auction-table-product-name-label,
.auction-table-bidding-value-label,
.auction-table-view-btn-label,
/* second row*/
.auction-table-img-container,
.auction-table-product-name,
.auction-table-bidding-value,
.auction-table-btn-container {
    width: 17%;
    height: 70px;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: brown;
}
.auction-table-img-container-label,
.auction-table-img-container {
    width: 15%;
}
.auction-table-product-name-label,
.auction-table-bidding-value-label,
.auction-table-product-name,
.auction-table-bidding-value {
    width: 33%
}
.auction-table-img-container,
.auction-table-product-name,
.auction-table-bidding-value,
.auction-table-btn-container {
    height: 100px;
    font-size: 24px;
    color: black;
}
.auction-label-img {
    width: 54%;
    border-radius: 5px;
}
.auction-img {
    width: 85px;
    height: 85px;
    border-radius: 10px
}
.auction-table-product-name,
.auction-table-product-name-label {
    right: 25%
}
.auction-table-bidding-value,
.auction-table-bidding-value-label {
    right: 50%
}
.auction-table-btn-container,
.auction-table-view-btn-label {
    right: 75%
}
.auction-table-first-row {
    width: 100%;
    height: 100px;
    background-color: #ddd;
}
.auction-table-view-btn {
    background-color: aliceblue;
    padding: 10px 32px;
    border-radius: 20px;
    color: #000;
    border: 1px solid;
    animation: moving-design-button 0.5s infinite alternate ease-in-out;

}
.auction-table-view-btn:hover {
    background-color: #f0f8ffcb;
    color: green
}