::selection {
    color: #fff;
    background-color: #000;
}
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    scroll-behavior: smooth;
}
.flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.flex-justify {
    display: inline-flex;
    justify-content: center;
}
.flex-align {
    display: inline-flex;
    align-items: center;
}
.the-position {
    position: absolute;
    top: 0;
    left: 0;
}
:root {
    --mainColor: #eee;
    --mainModalColor: #000000;
    --goldColor: #ffd700;
    --darkgoldColor:  #daa520;
}

body {
    /* min-height: 3000px */
}
body::-webkit-scrollbar {
    width: 7px
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}


.top-bar {
    width: 100%;
    height: 9.5%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ddd 60%, #fff);
    z-index: 5;
}
.background-choices-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    left: 1%;
    top: 8px;
}
.choices-icon {
    width: 30px;
    height: 6px;
    border-radius: 3px;
    border-style: none;
    background-color: #000; 
    position: absolute;
    right: 9px;
    bottom: 30px;
    /* margin: -3px -74.5% 0 0; */
    transition: all 0.4s;
}
.choices-icon:hover::before,
.choices-icon:hover::after,
.choices-icon:hover {
    background-color: lightgreen;
}
.choices-icon::before {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -6.9px;
    right: 0;
    transition: all 0.4s;
}
.choices-icon::after {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #000; 
    position: absolute;
    bottom: -14px;
    right: 0;
    transition: all 0.4s;
}
.choices {
    width: 210px;
    height: 0px;
    position: absolute;
    top: 35px;
    left: -50%;
    background-color: transparent;
    transition: all 0.8s;
    display: none;
    direction: rtl;
}
.choices::before {
    content: "";
    width: 0;
    position: absolute;
    top: -38px;
    left: 7px;
    border: 25px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}
.choices ul li {
    display: block;
}
.choices ul li a{
    font-size: 25px; 
    font-weight: bold;
    margin: 15px 45px 0 0;
    color: #fff;
    display: block;
    text-transform: capitalize;
}
.background-choices-icon:hover > .choices-icon > .choices {
    display: inline-block;
    height: 275px;
    bottom: -203px;
    border-radius: 20px;
    background-color: gray;
    z-index: 4;
}
.first-list-item::after,
.second-list-item::after,
.third-list-item::after,
.fourth-list-item::after,
.fifth-list-item::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: lightgray;
    bottom: 224px;
    left: 0;
}
.second-list-item::after {
    bottom: 180px;
}
.third-list-item::after {
    bottom: 136px;
}
.fourth-list-item::after {
    bottom: 90px;
}
.fifth-list-item::after {
    bottom: 46px;
}
.first-list-item:hover,
.second-list-item:hover,
.third-list-item:hover,
.fourth-list-item:hover,
.fifth-list-item:hover,
.sixth-list-item:hover {
    color: lightgreen;
    transition: all 0.3s;
}
.profile-icon,
.communicate-icon,
.help-icon,
.about-icon,
.feedback-icon,
.logout-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 11px;
    right: 5px;
}
.communicate-icon {
    top: 57px;
}
.help-icon {
    top: 101px;
}
.about-icon {
    top: 147px;
}
.feedback-icon {
    top: 192px;
}
.logout-icon {
    top: 234px;
}
.for-profile-icon-hover:hover > .profile-icon,
.for-communicate-icon-hover:hover > .communicate-icon,
.for-help-icon-hover:hover > .help-icon,
.for-about-icon-hover:hover > .about-icon,
.for-feedback-icon-hover:hover > .feedback-icon,
.for-logout-icon-hover:hover > .logout-icon {
    color: lightgreen;
    transition: all 0.3s;
}

.sign-up-container-top-bar,
.product-container-top-bar,
.sell-container-top-bar,
.home-container-top-bar {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(128 128 128 / 25%) 10%, transparent);
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 71%;
    top: 15%;
    transition: all 0.5s;
}
.sign-up-container-top-bar:hover,
.product-container-top-bar:hover,
.sell-container-top-bar:hover,
.home-container-top-bar:hover {
    background-color: #00000025;
    box-shadow: 4px 4px 8px 5px #000;
    transform: translate(0, -5px); 
}
.sell,
.product,
.sign-up,
.home{
    color: #fff;
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
    text-shadow: 3.5px 1px 4px #000;
    transition: all 0.5s;
}
.sign-up:hover,
.product:hover,
.sell:hover,
.home:hover {
    text-shadow: 3.5px 1px 4px lightgreen;
}
.sign-up-icon-1:hover,
.sign-up-icon-2:hover,
.product-icon:hover,
.sell-icon:hover,
.home-icon:hover {
    color: lightgreen;
}
.sign-up-container-top-bar:hover > .sign-up-icon-1,
.sign-up-container-top-bar:hover > .sign-up-icon-2,
.product-container-top-bar:hover > .product-icon,
.sell-container-top-bar:hover > .sell-icon,
.home-container-top-bar:hover > .home-icon {
    font-size: 0;
}

.sign-up-container-top-bar {
    width: 11%;
    left: 5.5%;
}
.sign-up {
    font-size: 25px;
    left: 16px;
}
.sign-up-container-top-bar:hover > .sign-up {
    font-size: 32px;
}
.sign-up-icon-1,
.sign-up-icon-2 {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    /* top: 12px; */
    right: 12px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}
.sign-up-icon-2 {
    top: 24px;
    right: 7px;
    font-size: 17px;
    background-image: linear-gradient(to bottom, lightgray 64%, transparent);
    border-radius: 50%;
}

.product-container-top-bar {
    width: 8%;
    left: 17.5%;
}
.product {
    font-size: 25px;
    left: 14px;
}
.product-container-top-bar:hover > .product {
    font-size: 34px;
}
.product-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 4px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.sell-container-top-bar {
    width: 8%;
    left: 26.5%;
}
.sell {
    font-size: 25px;
    top: 8px;
    left: 14px;
}
.sell-container-top-bar:hover > .sell {
    font-size: 33px;
    top: 3px;
}
.sell-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color: black;
    top: 12px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}

.home-container-top-bar {
    width: 11%;
    left: 35.5%;
}
.home {
    font-size: 22px;
    left: 8px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.home-container-top-bar:hover > .home {
    font-size: 27px;
}
.home-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: black;
    top: 10px;
    right: 5px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s;
}


.for-special-moving {
    margin-left: 83%;
}
.golden-bid-logo {
    position: relative;
    margin: -82px 0 0 16%;
}
.hummer-head {
    width: 17px;
    height: 25px;
    background-color: #d9a521;
    transform: rotate(35deg);
    margin: 10px 0 0 25px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-head::before {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: -2.5px;
    animation: inherit;
}
.hummer-head::after {
    content: "";
    width: 22px;
    height: 5px;
    background-color: #d9a521;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: -2.5px;
    animation: inherit;
}
.hummer-hand {
    width: 50px;
    height: 6px;
    background-color: #d9a521;
    border-radius: 0 10px 10px 0;
    transform: rotate(35deg);
    position: absolute;
    left: 30px;
    top: 21px;
    animation: gold 3s infinite alternate ease-in-out;
}
.hummer-hand::before {
    content: "winner";
    color: transparent;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    transition-delay: 0.3s;
}
.for-special-moving:hover > .golden-bid-logo > .hummer-hand::before {
    transform: rotate(-35deg) translate(23px, -8px);
    color: var(--darkgoldColor, lightblue);
    transition: all 0.5s 3.1s;
}
.hummer-floor {
    width: 35px;
    height: 12px;
    background-color: #d9a521;
    border-radius: 5px 5px 0 0 ;
    position: absolute;
    bottom: -23px;
    left: 16px;
    animation: gold 3s infinite alternate ease-in-out;
}
@keyframes gold{
    to {
        background-color: gold;
    }
}
.the-name {
    color: gold;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: -17px 0 0 -9px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    animation: background-color 3s infinite alternate ease-out;
}
@keyframes background-color {
    to {
        color: #d9a521;
    }
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-hand {
    transform-origin: center center;
    animation: moving-hand-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head {
    animation: moving-head-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-floor,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::after,
.for-special-moving:hover > .the-name + .golden-bid-logo > .hummer-head::before {
    animation-play-state: paused;
}
@keyframes moving-head-hummer {
    to {
        transform-origin: top right;
        transform: rotate(0deg) translateY(12px)
    }
}
@keyframes moving-hand-hummer {
    to {
        transform: rotate(0deg);
    }
}



.right-side-images-container {
    width: 12%;
    height: 70%;
    position: absolute;
    top: 12%;
    right: 3%;
    overflow: auto;
    background-image: linear-gradient(to bottom, var(--mainColor, lightblue) 80%, gray);
    border: 2px solid;
    border-color: black transparent black transparent;
    border-radius: 25px;
}
.right-side-images-container::-webkit-scrollbar {
    width: 0px
}
.right-side-images-container::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px;
}
.images-table {
    width: 145px;
    position: absolute;
    top: -29%;
    right: 4%;
    border-spacing: 155px;
}
.first-img,
.second-img,
.third-img,
.forth-img {
    width: 145px;
    height: 145px;
    position: absolute;
    border-radius: 15px;
}
.first-img:hover,
.second-img:hover,
.third-img:hover,
.forth-img:hover {
    box-shadow: 1px 1px 4px 1px #000;
}
#for-first-img-id {
    display: inline-block;
    width: 500px;
    height: 586px;
    position: absolute;
    top: 0%;
    right: 18%;
}
/* #for-first-img-id, */
#for-second-img-id,
#for-third-img-id,
#for-forth-img-id {
    display: none;
    width: 500px;
    height: 586px;
    position: absolute;
    top: 0%;
    right: 18%;
}
#for-first-img-id:target,
#for-second-img-id:target,
#for-third-img-id:target,
#for-forth-img-id:target {
    display: inline-block
}
.first-img-in-the-bigger-case,
.second-img-in-the-bigger-case,
.third-img-in-the-bigger-case,
.forth-img-in-the-bigger-case {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    box-shadow: 1px 1px 5px 2px #000;
    border-radius: 25px;
}

.details-title {
    width: 96.1%;
    height: 12%;
    direction: rtl;
    position: absolute;
    top: 85%;
    right: 2%;
    background-color: var(--mainColor, lightblue);
    font-size: 28px;
    border: 3px;
    border-color: brown;
    border-style: solid none none none;
    border-radius: 50% 50% 0 0;
}

.product-inner-info-table {
    direction: rtl;
    width: 96%;
    height: 48%;
    position: absolute;
    top: 98%;
    right: 2.1%;
    border-spacing: 5px;
}
.product-inner-info-table::before {
    /* content: ""; */
    width: 2px;
    height: 119%;
    position: absolute;
    top: -75px;
    right: -36px;
    background-color: brown;
}
.product-inner-info-label-bid-time,
.product-inner-info-label-bid {
    color: black;
    background-color: #778899c2;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px;
    border-color: brown;
    border-style: solid solid solid none;
    border-radius: 0 15px 15px 0;
    /* padding: 5px 7px; */
}
.product-inner-info-bid-time,
.product-inner-info-bid {
    color: black;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px;
    border-color: brown;
    border-style: solid none solid solid;
    border-radius: 15px 0 0 15px;
    /* padding: 5px 0; */
}

.product-inner-info-label {
    color: black;
    background-color: #cccccca6;
    text-align: center;
    border: 1px;
    border-color: brown;
    border-style: solid solid solid none;
    border-radius: 0 10px 10px 0;
    font-size: 27px;
    /* padding: 4px 0; */
}
.product-inner-info {
    color: black;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    background-color: #cccccc43;
    text-align: center;
    border: 1px;
    border-color: brown;
    border-style: solid none solid solid;
    font-size: 27px;
}

.time-in-the-left-side {
    width: 35%;
    height: 20%;
    position: absolute;
    top: 13%;
    left: 3%;
    background-color: var(--mainColor, lightblue);
    border-radius: 20px;
    border: 1px solid brown;
}
.main-upper-label-container {
    width: 100%;
    height: 35%;
    font-size: 33px;
    font-weight: bold;
    color: black;
    /* width: 50%;
    height: 35%;
    font-size: 36px;
    font-weight: bold;
    top: 2%;
    left: 25%;
    background-color: lightgrey;
    border-radius: 20px 20px 0 0;
    color: black; */
}
.labels-container {
    width: 90%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 5%;
    background-color: lightgray;
    border-radius: 20px 20px 0 0;
}
.days-label,
.hours-label,
.minutes-label,
.seconds-label {
    width: 20%;
    height: 90%;
    position: absolute;
    top: 10%;
    right: 4%;
    background-color: #eee;
    border-radius: 15px 15px 0 0;
    font-size: 25px;
    border: 1px;
    border-color: brown;
    border-style: solid solid none solid;
}
.days-label::before,
.hours-label::before,
.minutes-label::before,
.seconds-label::before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 15%;
    background-color: brown;
}
.hours-label {
    right: 28%;
}
.minutes-label {
    right: 52%;
}
.seconds-label {
    right: 76%;
}
.times-container {
    width: 90%;
    height: 30%;
    position: absolute;
    top: 66%;
    left: 5%;
    background-color: lightgray;
    border-radius: 0 0 20px 20px;
}
#days-time,
#hours-time,
#minutes-time,
#seconds-time {
    width: 20%;
    height: 90%;
    position: absolute;
    bottom: 10%;
    right: 4%;
    background-color: #eee;
    border-radius: 0 0 15px 15px;
    font-size: 25px;
    border: 1px;
    border-color: brown;
    border-style: none solid solid solid;
}
#hours-time {
    right: 28%;
}
#minutes-time {
    right: 52%;
}
#seconds-time {
    right: 76%;
}

.price-in-the-left-side {
    direction: rtl;
    width: 19%;
    position: absolute;
    top: 35%;
    left: 10%;
}
.the-highest-price-label,
.the-min-price-label {
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    border-radius: 200px 200px 0 0;
    background-color: lightgray;
    color: #000;
    /* background-color: var(--mainColor, lightblue); */
}
.the-highest-price-label,
.the-min-price-label {
    padding: 40px 6px 10px 6px;
}
.the-highest-price,
.the-min-price {
    font-weight: bold;
    font-size: 23px;
    padding: 12px 3px 35px 3px;
    text-align: center;
    border-radius: 0 0 200px 200px;
    background-color: lightgray;
    color: #000;
}
.the-highest-price,
.the-highest-price-label {
    animation: moving-color 1.5s ease-in-out infinite alternate;
}
@keyframes moving-color {
    to {
        color: var(--goldColor, lightblue);
    }
}
.expired-label,
.expired-label1 {
    display: none;
    width: 36%;
    height: 26%;
    position: absolute;
    top: 56%;
    left: 1.5%;
    background-color: #fff;
    font-size: 50px;
    color: red;
    z-index: 5;
    text-align: center;
    padding-top: 30px;
    direction: rtl;
}
.expired-label1 {
    display: inline-block;
    width: 100%;
    top: 47%;
    left: 0;
    color: #000;
    background-color: transparent;
    animation: moving-color 1.5s ease-in-out infinite alternate;
}
.warning-container {
    width: 32%;
    height: 9%;
    position: absolute;
    top: 56%;
    left: 3.5%;
}
.warning-icon {
    font-family: 'Material Icons';
    font-size: 36px;
    font-style: normal;
    color: red;
    position: absolute;
    top: 0;
}
.warning-label {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    color: brown;
    direction: rtl;
}
.bidding-form {
    width: 20%;
    height: 8%;
    position: absolute;
    top: 68%;
    left: 10%;
    /* z-index: 4; */
}
.bidding-field {
    width: 100%;
    height: 80%;
    direction: rtl;
    position: relative;
    padding: 3px 28px 0 0;
    color: lightgreen;
    font-size: 20px;
    border: 2px solid brown;
    border-radius: 35px 35px 5px 5px;
}
.bidding-field::-webkit-inner-spin-button {
    margin-left: 10px
    /* -webkit-appearance: none; */
}
.bidding-submit-btn {
    width: 100%;
    height: 80%;
    direction: rtl;
    position: relative;
    margin: 3px 0 0 0;
    text-align: center;
    color: lightgreen;
    font-size: 25px;
    border: 2px solid brown;
    border-radius: 5px 5px 35px 35px;
    background-color: #eee;
}

.seller-info-container {
    width: 49.5%;
    height: 13%;
    position: absolute;
    top: 150%;
    right: 2%;
    background-color: var(--mainColor, lightblue);
    border: 2px;
    border-color: brown;
    border-style: solid solid none solid;
    border-radius: 30px 30px 0 0; 
}
.seller-info-container::before {
    content: "";
    width: 85%;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 7.5%;
    background-color: brown;
}
.seller-pic {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    right: 2%;
    border: 1px solid brown;
    border-radius: 50%;
}
.seller-name {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 28%;
    right: 16%;
    color: brown;
    text-transform: capitalize;
    direction: rtl;
}
.seller-integrity-label {
    font-size: 29px;
    font-weight: bold;
    color: brown;
    background-color: lightgray;
    padding: 7px 20px;
    border-radius: 30px;
    position: absolute;
    top: 7%;
    right: 66%;
}
.seller-integrity {
    position: absolute;
    top: 67%;
    right: 63%;
}
.the-free-field-container {
    width: 49.5%;
    height: 60%;
    position: absolute;
    top: 163%;
    right: 2%;
    background-color: #eeeeee8e;
    border: 2px;
    border-color: brown;
    border-style: none solid solid solid;
    border-radius: 0 0 30px 30px;
    overflow: auto;
}
.the-free-field-container::-webkit-scrollbar {
    width: 5px
}
.the-free-field-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}
.the-free-field-container::-webkit-scrollbar-track {
    background-color: transparent
}
.the-free-field {
    direction: rtl;
    font-size: 24px;
    color: black;
    padding: 20px 30px;
}

.biders-container {
    width: 45.5%;
    height: 73%;
    position: absolute;
    top: 150%;
    right: 52.5%;
    background-color: #fff;
    /* background-color: var(--mainColor, lightblue); */
    border-radius: 30px;
    border: 2px solid brown; 
    overflow: auto;
}
.biders-container::-webkit-scrollbar {
    width: 0;
}
.biders-label-container {
    width: 100%;
    height: 17.5%;
    background-color: lightgray;
    /* border-radius: 30px 30px 0 0; */
    font-size: 50px;
    font-weight: bold;
    color: #000;
    position: sticky;
    z-index: 5;
}
.biders-table {
    width: 100%;
    /* height: 82%; */
    top: 17.5%;
    direction: rtl;
    border-spacing: 0;
}
.biders-table tr td {
    text-align: center;
    font-size: 25px
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid brown;
    margin: 5px 0;
    z-index: 99;
    /* position: absolute; */
}
.winner-price,
.winner-label {
    color: #000;
    animation: moving-color 1.5s ease-in-out infinite alternate;
}
.row5,
.row1,
.row3 {
    background-color: #eeeeee8e
}
.row6,
.row2,
.row4 {
    background-color: #eee
}




footer {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 250%;
    left: 0;
    background-color: #0e2332;
}
.upper-part {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0
}
.first-line-of-elements,
.second-line-of-elements {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 0;
}
.second-line-of-elements {
    top: 59%;
    font-size: 25px;
    color: #eee9;
}
.contact-us,
.about-us,
.guide-and-advice,
.shop-btn-container {
    width: 16%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 14%;
    background-color: transparent;
    border: none;
    font-size: 27px;
    color: #eee9;
    cursor: pointer;
    transition: all 0.4s;
}
.contact-us::before,
.about-us::before,
.guide-and-advice::before {
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #eee9;
}
.about-us {
    right: 31%;
}
.guide-and-advice {
    width: 20%;
    right: 48%;
}
.shop-btn-container {
    right: 68%;
}
.contact-us:hover,
.about-us:hover,
.guide-and-advice:hover,
.shop-btn-container:hover {
    color: gold
}
.contact-us-icon,
.about-us-icon,
.guide-and-advice-icon,
.shop-btn-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 32px;
    color: #eee9;
    position: absolute;
    right: 5%;
    transition: all 0.4s;
}
.about-us-icon {
    right: 25%
}
.guide-and-advice-icon {
    right: 15%
}
.shop-btn-icon {
    right: 24%
}
.contact-us:hover > .contact-us-icon,
.about-us:hover > .about-us-icon,
.guide-and-advice:hover > .guide-and-advice-icon,
.shop-btn-container:hover > .shop-btn-icon {
    color: gold
}
.contact-us-label,
.about-us-label,
.guide-and-advice-label,
.shop-btn-label {
    position: absolute;
    right: 25%
}
.about-us-label {
    right: 44%
}
.guide-and-advice-label {
    right: 30%
}
.shop-btn-label {
    right: 44%
}
.lower-part {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0
}
.lower-part::before {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    top: -10px;
    left: 30%;
    background-color: #eee9;
}
.golden-bid-logo-2 {
    position: relative;
    margin: -75px 0 0 45%
}
.for-special-moving:hover > .golden-bid-logo-2 > .hummer-hand::before {
    transform: rotate(-35deg) translate(23px, -8px);
    color: var(--darkgoldColor, lightblue);
    transition: all 0.5s 3.1s;
}
.the-name-2 {
    color: gold;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    padding: 5px;
    width: 100%;
    height: 100%;
    /* width: fit-content; */
    margin: -17px 0 0 41.5%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    animation: background-color 3s infinite alternate ease-out;
}
@keyframes background-color {
    to {
        color: #d9a521;
    }
}
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-hand {
    transform-origin: center center;
    animation: moving-hand-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head {
    animation: moving-head-hummer 0.5s 6 alternate ease-in
}
.for-special-moving:hover > .the-name-2,
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-floor,
/* .for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-hand, */
/* .for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head, */
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head::after,
.for-special-moving:hover > .the-name-2 + .golden-bid-logo-2 > .hummer-head::before {
    animation-play-state: paused;
}
.icons-container,
.year-date-container {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 40%;
    left: 0;
}
.year-date-container {
    top: 67%;
}
.icons-container::before {
    content: "";
    width: 8%;
    height: 1px;
    position: absolute;
    bottom: -17px;
    left: 46%;
    background-color: #eee9;
}
.lower-part-first-icon,
.lower-part-second-icon,
.lower-part-third-icon,
.lower-part-fourth-icon,
.lower-part-fifth-icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 29px;
    color: #eee9;
    position: absolute;
    right: 54%;
}
.lower-part-second-icon {
    right: 51.5%;
}
.lower-part-third-icon {
    right: 49%;
}
.lower-part-fourth-icon {
    right: 41%;
}
.lower-part-fifth-icon {
    right: 44.5%;
}
.lower-part-R,
.lower-part-year-date {
    font-size: 18px;
    color: #eee9;
    position: absolute;
    right: 51%
}
.lower-part-year-date {
    font-size: 20px;
    right: 48%   
}

#contact-us-modal,
#about-us-modal,
#guide-and-advice-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 999;
}
.contact-us-container,
.about-us-container,
.guide-and-advice-container {
    width: 33%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 33%;
    background-color: #eee;
    border-radius: 30px;
}
.about-us-container,
.guide-and-advice-container {
    width: 65%;
    left: 17.5%;
}
.contact-us-close,
.about-us-close,
.guide-and-advice-close {
    font-size: 40px;
    color: #000;
    position: absolute; 
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: all 0.2s
}
.contact-us-close:hover,
.about-us-close:hover,
.guide-and-advice-close:hover {
    color: red
}
.contact-us-head,
.about-us-head,
.guide-and-advice-head {
    width: 100%;
    height: 10%;
    font-size: 30px;
    color: #000;
    border-radius: 20px 20px 0 0;
    background-color: #aaa
}
.about-us-main-icon-1,
.about-us-main-icon-2,
.guide-and-advice-main-icon-1,
.guide-and-advice-main-icon-2 {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color: green;
    position: absolute;
    right: 37%;
}
.about-us-main-icon-2,
.guide-and-advice-main-icon-2 {
    right: 60%
}
.about-us-main-icon-1,
.about-us-main-icon-2 {
    color: #000
}
.contact-us-body,
.about-us-body,
.guide-and-advice-body {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 0;
    direction: rtl;
}
.contact-us-img {
    width: 45%;
    position: absolute;
    top: 0;
    left: 27.5%;
}
.contact-us-form {
    width: 100%;
    height: 100%;
}
.contact-us-email-field,
.contact-us-massage-field {
    width: 70%;
    height: 47px;
    position: absolute;
    top: 48%;
    font-size: 22px;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px 20px 5px 0;
}
.contact-us-massage-field {
    top: 60%;
    height: 90px;
    border-radius: 25px;
    padding: 10px 15px;
    resize: none;
}
.contact-us-massage-field::-webkit-scrollbar {
    width: 5px
}
.contact-us-massage-field::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
.contact-us-massage-field::-webkit-scrollbar-track {
    background-color: transparent
}
.contact-us-submit-btn {
    width: 25%;
    height: 47px;
    position: absolute;
    top: 83%;
    font-size: 26px;
    color: brown;
    border: 2px solid #000;
    border-radius: 20px;
}
.about-us-body-first-section,
.about-us-body-second-section {
    width: 100%;
    height: 36%;
    position: absolute;
    top: 0;
    left: 0;
}
.about-us-body-second-section {
    top: 40%
}
.about-us-body-first-section-title,
.about-us-body-second-section-title {
    font-size: 30px;
    color: brown;
    padding: 13px 35px;
}
.about-us-body-first-section-label-1,
.about-us-body-first-section-label-2,
.about-us-body-second-section-label-1,
.about-us-body-second-section-label-2,
.about-us-body-second-section-label-3 {
    font-size: 21px;
    position: absolute;
    color: #000;
    padding: 0px 35px;
}
.about-us-body-first-section-label-2,
.about-us-body-second-section-label-2 {
    top: 113px
}
.about-us-body-second-section-label-3 {
    top: 167px
}

.guide-and-advice-body-first-section,
.guide-and-advice-body-second-section,
.guide-and-advice-body-third-section {
    width: 100%;
    height: 36%;
    position: absolute;
    top: 0;
    left: 0;
}
.guide-and-advice-body-second-section {
    top: 36%;
}
.guide-and-advice-body-third-section {
    top: 75%;
}
.guide-and-advice-body-first-section-title,
.guide-and-advice-body-second-section-title,
.guide-and-advice-body-third-section-title {
    font-size: 22px;
    position: absolute;
    top: 10px;
    padding: 7px 16px;
    border-radius: 12px;
    background-color: lightgreen;
}
.guide-and-advice-body-first-section-paragraph-1,
.guide-and-advice-body-first-section-paragraph-2,
.guide-and-advice-body-first-section-paragraph-3 {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 42px;
    font-size: 18px;
    padding: 5px 34px;
}
.guide-and-advice-body-first-section-paragraph-2 {
    top: 92px;
}
.guide-and-advice-body-first-section-paragraph-3 {
    top: 123px;
}
.guide-and-advice-body-second-section-paragraph-1,
.guide-and-advice-body-second-section-paragraph-2,
.guide-and-advice-body-second-section-paragraph-3,
.guide-and-advice-body-third-section-paragraph-1 {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 42px;
    font-size: 18px;
    padding: 5px 34px;
}
.guide-and-advice-body-second-section-paragraph-2 {
    top: 75px;
}
.guide-and-advice-body-second-section-paragraph-3 {
    top: 127px;
}